@using Microsoft.AspNetCore.Identity
@inject SignInManager<Worker> SignInManager
@inject UserManager<Worker> UserManager


@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="JobManager">Manage Jobs</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserManager">Manage Users</a>
    </li>
}
