@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1" >Crew n' more</h1>
    <h3 class="display-5">Building parties since 2015</h3>
    <br/>
    
</div>
<p>We got you covered if you want to make anything event related! We have experience in different sized and kinds of events, such as</p>
<ul>
    <li>family parties</li>
    <li>town fests</li>
    <li>sport events</li>
    <li>international summer festivals</li>
</ul>

<h5>Contact us at +36 70 123 4567</h5>


<style>
    h1{
        font-weight: 900;
        
        color: gold;
    }
    p, ul, h3{
        color: white;
    }

    body{
        background-color: darkolivegreen;
    }

</style>