@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/indexstyle.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-1" >Crew n' more</h1>
        <h3 class="display-5">Building parties since 2015</h3>
        <br/>
        <p>We got you covered if you want to make anything event related! We have experience in different sized and kinds of events, such as</p>
    
    </div>

    <ul>
        <li>family parties</li>
        <li>town fests</li>
        <li>sport events</li>
        <li>international summer festivals</li>
    </ul>


    <div class="text-center">
        <h5>Contact us at +36 70 123 4567</h5>
    </div>

    <div class="image-container">
        <img src="../sziget.png" />
        <img src="../vivas.png" />
        <img src="../falunap.png"/>
    </div>
</body>


