@model Worker

<div class="text-center">
    <h1 class="display-4">Privacy</h1>
    <br />
    <h2>Personal data</h2>
    <table border="1" align="center">
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Drivers' licence</td>
            <td>@Model.DriversLicence</td>
        </tr>
    </table>
   
</div>

